@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,300i');


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
background : linear-gradient(113.04725084522124deg, rgba(220, 227, 227,1) 10.734375%,rgba(252, 252, 252,1) 27.381944444444443%,rgba(204, 218, 227,1) 51.19184027777777%,rgba(163, 163, 163,1) 76.55034722222221%,rgba(54, 87, 194,1) 97.84374999999999%)
}

h3 {
    font-family: 'Kalam', cursive;
    font-size: 2.5em;
    font-weight: 900;
}

header {
    width: 100%;
    height: 100vh;
    background: url(https://media.wired.com/photos/5a593a7ff11e325008172bc2/master/w_2400,c_limit/pulsar-831502910.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 50px;
}

nav ul {
    line-height: 50px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav ul:nth-child(2) {
    color: #E85837;
}


nav.black ul {
    background: #10141c;
    z-index: 4;
    /* ------------------------------------ Delete done ------------------------------------ */
}

nav ul li {
    display: inline-block;
    padding: 15px 20px;

}

nav ul li h3 {
    font-size: 3.1em;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Amatic SC', cursive;


}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: #E85837;
    text-decoration : none;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #10141c;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    color: #fff;
    display: none;

}

/* ---------- Search Bar ---------- */

.wrapper {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 25px;
}

.wrapper h3 {
    color: #6AB2DD;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .search-container {
    background: #E85837;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.wrapper .search-container:hover {
    width: 325px;
}

.wrapper .search-container:hover .search-button {
    border-radius: 0px 3px 3px 0px;
}

.wrapper .search-container input[type="text"] {
    color: #fff;
    background: #E23C49;
    height: 60px;
    width: 0px;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    border: 0;
    float: left;
    border-radius: 5px 0px 0px 5px;
    transition: all 0.5s;
}
.wrapper .search-container input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}

.wrapper .search-container:hover input[type="text"] {
    width: 240px;
    padding: 0 10px;
}

.wrapper .search-container .search-button {
    color: #fff;
    background: #E23C49;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    float: right;
    transition: border-radius 0s;
    border-radius: 3px;
    z-index: 0;
}

.wrapper .search-container .search-button:active {
    color: #fff;
    background: #6AB2DD;
}

/* --------- End of Search Bar ---------- */


section.content {
    clear: both;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 35% 62%;
    grid-gap: 75px;
    margin-bottom: 175px;
}

aside {
    margin-top: 75px;
    float: left;
}

.espace-utilisateur {
    /*     display: grid;
        grid-template-columns: 66.6% 33.3%; */
    height: 300px;
    border: 3px #10141c solid;
    border-radius: 4px;
    margin-bottom: 70px;
    background: url("../../img/space-background-gif.jpg");
    background-attachment: fixed;
    background-size: cover;
}


.register {

}
.login-logout {

}

article h4 {
    text-align: center;
    font-family: "IBM Plex Sans Condensed" ;
    font-size: 25px;
}

.login {
    height: 245px;
    margin: 50px 75px;
    background-color: rgba(255, 255, 255, 0.463);
    border-radius: 5px;
}

.events {
    font-size: 22px;
    line-height: 30px;
    border: 3px #10141C solid;
    padding: 20px;
    margin-top: 10px;
}

.events h3 {
    margin-top: 0;
    text-align: center;
    line-height: 1em;
}

.events h4 {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 0.8em;
}

.events p {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.articles-recents {
    margin-top: 50px;
    line-height: 30px;
    border: 3px #10141C solid;
    padding: 20px;
    background-color: #10141C;
    color: #fff;
}

.articles-recents h3 {
    font-size: 2.5em;
    text-align: center;
    line-height: 1em;
    font-weight: 300;
    margin-top: 10px;
}

.articles-recents h4 {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 0.8em;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.articles-recents p {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 1.05em;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

article {
    margin: 100px 50px 25px 0px;
    font-size: 22px;
    text-align: justify;
    font-weight: 300;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    float: left;
    margin-left: 50px;
    color: #000000;
}

article img {
    width: auto;


}

article ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

article ul li {
    display: inline-block;

}

.remerciements {
    width: 100%;
    margin-top: 75px;
    margin: auto;
    padding: 0;
    justify-self: center;
}

.remerciements h3 {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    background-color: #10141C;
    color: #fff;

}

.remerciements ul {
    display: grid;
    list-style: none;
    width: 90%;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 60px;
    margin: 0;
    padding: 0;
    align-self: center;
}

.remerciements ul li img {
    width: 100%;
    object-fit: cover;
    bottom: 0;
    align-self: center;
    display: flex;

}

.site-partenaires {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 50%;
    float: left;
    height: 150px;
    text-align: center;

}

.deco {
    margin: auto;
    width: 65px;
    margin-top: 175px;
    fill: #E85837;
}

section.contact {
    margin-top: 25px;
    height: 550px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.1em;
    background-image: url("../images/earth.jpg");
    background-attachment: fixed;



}

section.contact a {
    font-size: 20px;
    color: #1565C0;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

section.contact a:hover {
    text-decoration: none;
    color: whitesmoke;
}
.contact-list {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 50%;
    float: right;
    height: 150px;
    text-align: center;
}
.site-partenaires .over-title {
    width: 50%;
    margin: auto;
    background-color: #212121;
    color: #fff;
}


.contact-list .over-title {
    width: 30%;
    margin: auto;
    background-color:#212121;
    color: #fff;
}




.site-partenaires h3,.contact-list h3 {
    margin-bottom: 75px;
}

.line {
    margin-top: 50px;
    width: 20%;
    margin: auto;
    border: 1px #474C5A solid;
}

#rocket {
    float: right;
    right: 25px;
    bottom: 25px;
    position: absolute;
}

footer {
    position: relative;
    margin-top: 50px;
    height: 75px;
    clear: both;
}

footer p {
    width: 50%;
    font-family: 'Amatic SC', cursive;
    font-size: 1.8em;
    text-align: center;
    margin: auto;
    color: #000000;
}




/* Media Queries */

@media(max-width: 786px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    .logo {
        margin: auto;
    }

    nav ul {
        max-height: 0px;
        background: #10141c;
    }

    nav.black ul {
        background: #10141c;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}

.btn-secondary{
    margin-top: 60px;
}

.nav-pills {
    /*margin-left: 800px;*/
    margin-top: 50px;
}

.pesquet{
    margin-top: 20px;
}

.safran {
    margin-top: 20px;
}

.thumbnail{
    min-height: 300px;
    height: auto;
    margin-top: 30px;
}

.commentaire {
    background-color: #EEEEEE;
    border: 1px solid;
    border-radius: 10px;
}

.contenuArticle {
    margin-top: 20px;
}

.titreArticle {
    margin-bottom: 20px;
}

.titreComments {
    margin-left: 20px;
}
.nom {
    margin-bottom: 20px;
}
#users_nom {
    width: 500px;
    border-radius: 5px;
}

.prenom{
    margin-bottom: 20px;
}

#users_prenom {
    width: 500px;
    border-radius: 5px;
}

.mail {
    margin-bottom: 20px;
}

#users_mail{
    width: 500px;
    border-radius: 5px;
}

.password {
    margin-bottom: 20px;
}

#users_password {
    width: 300px;
    border-radius: 5px;
}

#users_submit {
    width:200px;
}