{% extends 'layout.html.twig' %}
{% block content %}

    <div class="container">
        <div class="content">

            <h3>Thomas Pesquet</h3>


            <img src="{{ asset('images/pesquet.jpg') }}" alt="Thomas Pesquet" class="img-responsive img-thumbnail">

            <p class="pesquet">
                Thomas Pesquet, né le 27 février 1978 à Rouen, est un astronaute français de l'Agence spatiale européenne (ESA). Après une formation d'ingénieur aéronautique, Thomas Pesquet a occupé différents postes dans l'industrie aérospatiale et à l'agence spatiale européenne avant de devenir, en 2004, pilote de ligne. En 2009, il fait partie des six candidats retenus pour former le troisième groupe d'astronautes européens sélectionnés par l'agence spatiale. Thomas Pesquet est le dixième Français à partir dans l'espace en décollant le 17 novembre 2016 à bord de Soyouz MS-03 dont l’équipage occupe la Station spatiale internationale de novembre 2016 à juin 2017. Durant cette mission, Thomas Pesquet a mené une centaine d'expériences dont la moitié développée par l'Agence spatiale européenne ou le CNES, l'autre moitié par la NASA. Il effectue plusieurs sorties extravéhiculaires de six heures pour des missions de maintenance de la Station spatiale internationale.
            </p>

            <br>

            <p>Pesquet décolle le 17 novembre 2016 à 20 h 20 TUC à bord d'un vaisseau Soyouz. Le Soyouz MS-03 est placé en orbite par une fusée Soyouz tirée depuis le cosmodrome de Baïkonour au Kazakhstan. Le vaisseau Soyouz MS-03 s'amarre à la Station spatiale internationale le 19 novembre après 48 heures de manœuvres orbitales19,20.

                Durant son séjour dans la station spatiale qui doit durer environ six mois (retour sur Terre en juin 2017), Pesquet est ingénieur de vol. Comme les autres membres de l'équipage, son temps est partagé entre la réalisation d'expériences scientifiques et la maintenance de la station spatiale. Quatre sorties dans l'espace sont programmées. Dans le cadre de sa mission, il doit mener plus d'une centaine d'expériences scientifiques pour moitié conçues sous l'égide de la NASA, l'autre moitié sous celle de l'Agence spatiale européenne, dont certaines développées par l'Institut national de la santé et de la recherche médicale sur le vieillissement artériel</p>


            <h3>Safran/Ariane Group</h3>


            <img src="{{ asset('images/safran.jpg') }}" alt="Safran" class="img-responsive img-thumbnail">

            <p class="safran">
                Safran est un grand groupe industriel et technologique français, présent au niveau international dans les domaines de l’aéronautique, de l'espace et de la défense. Il est créé en 2005 lors de la fusion entre Snecma et Sagem. Depuis septembre 2011, il est coté au CAC 40. Ses métiers sont la conception et la production de moteurs d’avions, d’hélicoptères et de fusées, d’équipements aéronautiques, et de défense. Safran occupe des positions de leader mondial sur ces marchés2 et emploie plus de 58 000 personnes dans près de trente pays. Depuis, elle s'est fusionée avec l'entreprise aeronautique française Ariane Group. Cette dernière travaille principalement dans la recherche et la conception de différents moteurs tels que des moteurs d'avions civils, militaires et spatiaux.
                De plus, c'est le leader mondial  pour les moteurs à propulsions plasmique.
                Ariane group s'est installée en Normandie sur un site situé à Vernon dans l'Eure normande, rendant la Normandie un acteur participant activement à la "conquête" spatiale.
            </p>

        </div>
    </div>
{% endblock %}