{% extends 'layout.html.twig' %}
{% block content %}

    <div class="container">
        <article>
            <p>Equipez-vous et venez prendre part à l'exploration de notre galaxie et bien plus ! </p>
            <iframe src="https://www.solarsystemscope.com/iframe" width="100%" height="500" style="min-width:500px; min-height: 400px; border: 2px solid #0f5c6e;"></iframe>


            <h4>  Le système solaire.. notre maison depuis 4.56 milliard d'années.</h4>
            <br>

            <img src="{{ asset('images/huit_planetes.jpg') }}" alt="système-solaire" class="img-responsive">

            <br>

            Le Système solaire est notre système planétaire, composé d'une étoile, le Soleil, et des objets célestes définis gravitant autour de lui : les huit planètes confirmées et leurs 175 satellites naturels connus (appelés usuellement des « lunes »), les cinq planètes naines et les milliards de petits corps (la grande majorité des astéroïdes et autres planètes mineures, les comètes, les poussières interplanétaires, etc.). Le système solaire fait partie de la galaxie appelée la Voie lactée et est situé à environ 8 kpc (∼26 100 a.l.) du centre galactique.

            De façon schématique, le Système solaire est composé, outre le Soleil lui-même et par ordre de distance croissante à celui-ci, de quatre planètes telluriques internes, une ceinture d'astéroïdes composée de petits corps rocheux, quatre planètes géantes (deux géantes gazeuses et deux planètes géantes de glaces) externes et une seconde ceinture appelée ceinture de Kuiper, composée elle-même d’objets glacés. L'héliopause, limite magnétique du Système solaire, est définie par l'arrêt des vents solaires face au vent galactique. Bien au-delà se trouve le nuage d'Oort, sphère d’objets épars. La limite gravitationnelle du Système solaire, se situe bien plus loin encore, jusqu'à 1 ou 2 années-lumière du Soleil.

            De la plus proche à la plus éloignée (du Soleil), les planètes du système sont Mercure, Vénus, la Terre, Mars, Jupiter, Saturne, Uranus et Neptune. Toutes ces planètes hormis les deux plus proches du Soleil possèdent des satellites en orbite et chacune des quatre planètes externes est entourée d’un système d'anneaux de poussière et d’autres particules. Toutes les planètes, sauf la Terre, ont été nommées d'après des dieux et déesses de la mythologie romaine.

            Les cinq planètes naines, portant des noms de divinités diverses, sont Cérès, le premier et plus grand objet découvert dans la ceinture d’astéroïdes (975 km de diamètre équatorial), Pluton, le plus ancien et le plus grand objet connu de la ceinture de Kuiper (2 370 km), Éris, au diamètre très légèrement inférieur (2 326 km), qui se trouve dans le disque des objets épars, enfin Makémaké (environ 1 430 km) et Hauméa (1 960 km), objets de la ceinture de Kuiper.».</h4>



        </article>
    </div>
{% endblock %}