<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon"><i class="fa fa-bars fa-2x"></i></div>
            <div class="logo"><a href="#"><img src="{{ asset('images/global.png') }}" alt=""></a></div>
            <div class="menu">
                <ul>
                    <li><a href=""><h3>Le Système Solaire</h3></a></li>
                    <li><a href=""><h3>Actualités De l'Espace</h3></a></li>
                    <li><a href=""><h3>En Normandie</h3></a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>