
<section class="content">
    <aside>
        <div class="espace-utilisateur">

            <div class="info-user">Infos Utilisateur</div>
            <div class="register">S'inscrire</div>
            <div class="login-logout">Login/Logout</div>
            <div class="registration-form">
                {#<form action="POST">#}
                {#<label>Nom</label><input type="text">#}
                {#<label>Prénom</label><input type="text">#}
                {#<label>Email</label><input type="email" name="email" id="email">#}
                {#<label>Mot de Passe</label><input type="password" name="password" id="password">#}
                {#</form>#}
            </div>
        </div>
        <div class="wrapper">
            <div class="search-container">
                <a href="#/search" class="search-button">
                    <i class="fa fa-search"></i>
                </a>
                <input type="text" placeholder="Votre recherche...">
            </div>
        </div>
        <div class="events">
            <h3>Les prochains évenements</h3>
            {% for evenement in evenements %}
                <div class="entry1">
                    <p>{{ evenement.titre }}</p>
                    <h4>{{ evenement.date | date('d/m/Y') }}</h4>
                </div>
            {% endfor %}

        </div>

    </aside>